
.btn {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    height: 47px;
    border-radius: 4px;
    border-color: transparent;
    flex: none;
    order: 0;
    flex-grow: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.primary {
    text-align: center;
    flex-direction: row;
    align-items: center;
    padding: 15px 16px;
    background: #5C5CFF;
    color: #FFFFFF;
    margin-left: 5px;
    margin-right: 5px;
}

.xl {width: 100%;}
.no-margin {
    margin-left: 0px;
    margin-right: 0px;
}
.secondary {
    width: 175px;
    color: #5C5CFF;
}

.primary:hover {
    background: #4242F0;
}

.primary:active {
    background: #2D2DCA;
}

.secondary:hover {
    background: #E6E6FF;
}


.secondary:active {
    background: #CCCCFF;
}

.icon {
    width: 20px;
    height: 20px;
    cursor:default; 
    display: inline-flex;
}

.revelar {
    display: flex;
    width: 25vh;
    padding: 15px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 33%;
    left: 26%;
}