.voteCard{
    border-radius: 16px;
    border: 3px solid #5C5CFF;
    background: #F2F2F2;
    margin: 5px;
    color:#5C5CFF;
    font-style: normal;
    font-weight: 700;
    text-align: center;

}

.large{
    width: 8.8vh;
    height: 13.7vh;
    font-size: 42px;
    line-height: 14vh;
}

.small{
    width: 69px;
    height: 104px;
    font-size: 21px;
    line-height: 10.5vh;

}

.selected{
    background: #5C5CFF;
}

input[type="radio"]{
    display: none;
 }

input[type="radio"]:checked + label{
   background: #5C5CFF;
   color: #F2F2F2;
}