.header {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 111px;
  gap: 16px;

  position: static;
  height: 79px;
  left: 0px;
  right: 0px;
  top: 0px;
  background: #F2F2F2;
  border-bottom: 1px solid #BCBCBC;
}

.botoes{
  margin-left: auto; 
  margin-right: 0;

  display: flex;
}

.nickname{
  margin-right: 10px;
  color: var(--text-theme-color-01, #2C2C2C);
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

a:visited {color: #2C2C2C; text-decoration: none;}

.menuItem{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}