
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  background: #F2F2F2;
}
h1{
  color: #5C5CFF;
}

h2{
  color: #5C5CFF;
}

h3{
  color: #2C2C2C;
}

.TextField{
  border-radius: 4px 4px 0px 0px;
  border-bottom: 1px solid #5C5CFF;
  background: #E5E5FF;
  gap: 24px;
}

.linkStyle {
  margin: "1rem";
  text-decoration: "none";
  color: 'blue';
};

